{% extends 'base.html' %}

{% block links %}
<script src="{{ url_for('static', filename='js/forms.js')}}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
{% include 'base-menu.html' %}
<div class="main-content">
    <h1>Добро пожаловать, {{ current_user.username }}!</h1>
    <form action="{{ url_for('add_item') }}" method="POST">
        <input type="text" name="name" placeholder="Имя предмета" required>
        <input type="text" name="description" placeholder="Описание">
        <button type="submit">Добавить предмет</button>
    </form>
    <ul style="list-style-type: decimal;">
        {% for item in items %}
        <li id="item-{{ item.id }}">
            <span class="item-data">
                {{ item.name }}: {{ item.description }}
            </span>

            <button type="button" onclick="toggleEditForm({{ item.id }})"
                id="update-btn-{{ item.id }}">Обновить</button>
            <form action="{{ url_for('delete_item', item_id=item.id) }}" method="POST" style="display: inline;">
                <button type="submit" id="delete-btn-{{ item.id }}">Удалить</button>
            </form>

            <!-- Скрытая форма для редактирования -->
            <form action="{{ url_for('update_item', item_id=item.id) }}" method="POST" class="edit-form"
                id="form-{{ item.id }}" style="display: none;">
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="name" value="{{ item.name }}" required>
                <input type="text" name="description" value="{{ item.description }}">
                <button type="submit">Сохранить</button>
                <button type="button" onclick="toggleEditForm({{ item.id }})">Отметить</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
</script>
{% endblock %}